.about{
    display: block;
    padding-top: 12rem;
    width: 100%;
}
.about_content{
    display: block;
    width: 100%;
    padding: 1.5rem;
    background-color: var(--color-black-2);
}

.about_content_title{
    display: inline-block;
    font-size: 1.3rem;
    position: relative;
}
.about_content_title::after{
    display: block;
    content: "";
    position: absolute;
    top: 1.8rem;
    width: 100%;
    height: 0.2rem;
    background-color: var(--color-green-2);
}
.about_content_paraph{
    display: block;
    margin: 2rem 0;
    width: 100%;
    line-height: 1.8;
    font-size: 0.9rem;
}
.about_content_items{
    display: block;
}
.about_content_item{
    margin-bottom: 1.5rem;
}