.homeSliderBanner{
    display: block;
    width: 100%;
    padding-top: 13rem;
}
.home_slider_link{
    display: block;
    width: 100%;
}
.home_slider_img{
    max-width: 100%;
}
.swiper-button-prev{
    color: #34D399;
}
.swiper-button-next{
    color: #34D399;
}


.home_banner{
    display: block;
}

.home_banner_link{

}
.home_banner_img{
    width: 100%;
    border-radius: 0.5rem;
}